# Example environment variables for Good Night Core
RAILS_ENV=development
DATABASE_NAME=your_database_name
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password
DATABASE_HOSTNAME=your_database_hostname
DATABASE_PORT=your_database_port

# Add any other environment variables your app requires below
# REDIS
REDIS_R_URL=some-redis-url